:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --light-bg-text-color: #000000;
  --accent-color: #2196f3;
  --button-accent-color: #188ce8;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --light-bg-color: #e5e5e5;
  --button-filter-bg-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --logo-font: 'Raleway', sans-serif;
  --border-color: #ececec;
  --card-border-color: #eeeeee;
  --company-logo-color: #afb1b8;
  --grid__item: 1;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--duration) var(--timing-function);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);
}

.button:hover, .button:focus {
  background-color: var(--button-accent-color);
}

.button--modal {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
  color: var(--light-bg-text-color);
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--dark-bg-text-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.site-nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.auth-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  color: var(--main-text-color);
  transition: color var(--duration) var(--timing-function);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon-box {
  display: inline-flex;
  align-items: center;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.grid__item {
  margin-left: 30px;
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--title-color);
}

.section--dark-bg {
  background-color: var(--dark-bg-color);
}

.hero {
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid var(--light-bg-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero__content {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.advantage__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--button-filter-bg-color);
  border-radius: 4px;
}

.advantage__item {
  --grid__item: 4;
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.work {
  padding-top: 0;
}

.work__item {
  --grid__item: 3;
}

.work__link {
  display: block;
  position: relative;
}

.work__type {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.team {
  background-color: var(--team-bg-color);
}

.team__member {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  --grid__item: 4;
  background-color: var(--dark-bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--title-color);
}

.social-icons {
  display: inline-flex;
  margin-top: 16px;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--company-logo-color);
  transition: fill var(--duration) var(--timing-function);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--dark-bg-text-color);
}

.social-icons--footer {
  margin-top: 0;
}

.social-icons__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__icon--footer {
  fill: var(--dark-bg-text-color);
}

.company__item {
  --grid__item: 6;
}

.company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--company-logo-color);
  border-radius: 4px;
  fill: var(--company-logo-color);
  transition: fill var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}

.company__link:hover, .company__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts-box,
.footer__join-box {
  flex-basis: calc((50% - 45px) / 2);
}

.footer__join-box,
.footer__form-box {
  margin-top: 12px;
}

.footer__title {
  margin-bottom: 20px;
  color: var(--dark-bg-text-color);
}

.footer__form-box {
  flex-basis: calc(50% - 15px);
}

.address {
  margin-top: 20px;
}

.address__map-link {
  color: var(--dark-bg-text-color);
}

.address__contact-item {
  margin-top: 9px;
}

.address__contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.form {
  display: flex;
}

.form__label {
  margin-right: 12px;
}

.form__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  color: var(--dark-bg-text-color);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form__icon {
  display: inline-block;
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--title-color);
  cursor: pointer;
  background-color: var(--button-filter-bg-color);
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--dark-bg-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  color: var(--dark-bg-text-color);
}

.cards__text {
  width: 322px;
}

.cards__link:hover .cards__overlay {
  transform: translateY(0);
}

.cards__border {
  padding: 20px 24px;
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.cards__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.cards__type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}

.cards__link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}

.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--dark-bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--timing-function);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--dark-bg-text-color);
  cursor: pointer;
}

.modal__icon-close {
  fill: var(--light-bg-text-color);
  transition: fill var(--duration) var(--timing-function);
}

.modal__close-button:hover .modal__icon-close,
.modal__close-button:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__group-input {
  position: relative;
}

.modal-form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__form-field--textarea {
  margin-bottom: 20px;
}

.modal-form__textarea {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input:hover,
.modal-form__input:focus,
.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), background-image var(--duration) var(--timing-function);
}

.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */