.address {
  margin-top: 20px;
}

.address__map-link {
  color: var(--dark-bg-text-color);
}

.address__contact-item {
  margin-top: 9px;
}

.address__contact-link {
  color: rgba(255, 255, 255, 0.6);
}
