.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  min-width: 200px;

  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }
}

.button--modal {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
