.company__item {
  --grid__item: 1;
  @media screen and (min-width: 480px) {
    --grid__item: 2;
  }
  @media screen and (min-width: 768px) {
    --grid__item: 3;
  }
  @media screen and (min-width: 1200px) {
    --grid__item: 6;
  }
}

.company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid var(--company-logo-color);
  border-radius: 4px;
  fill: var(--company-logo-color);

  transition: fill var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
