.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: left;
  }
}

.footer__contacts-box,
.footer__join-box {
  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
  }
}

.footer__join-box,
.footer__form-box {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer__join-box {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__join-box,
  .footer__form-box {
    margin-top: 12px;
  }
}

.footer__title {
  margin-bottom: 20px;
  color: var(--dark-bg-text-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__form-box {
  @media screen and (min-width: 1200px) {
    flex-basis: calc(50% - 15px);
  }
}
