.form {
  display: flex;
}

.form__label {
  margin-right: 12px;
}

.form__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  color: var(--dark-bg-text-color);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.form__icon {
  display: inline-block;
  margin-left: 10px;
}
