.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
  color: var(--light-bg-text-color);
}
.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--dark-bg-text-color);
}
