.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__group-input {
  position: relative;
}

.modal-form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;

  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--duration) var(--timing-function);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill var(--duration) var(--timing-function);

  .modal-form__input:hover + &,
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form__form-field--textarea {
  margin-bottom: 20px;
}

.modal-form__textarea {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--duration) var(--timing-function);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__input:hover,
.modal-form__input:focus,
.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 8px;

  transition: border-color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function), background-image var(--duration) var(--timing-function);
}

.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
