:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --light-bg-text-color: #000000;
  --accent-color: #2196f3;
  --button-accent-color: #188ce8;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --light-bg-color: #e5e5e5;
  --button-filter-bg-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --logo-font: 'Raleway', sans-serif;
  --border-color: #ececec;
  --card-border-color: #eeeeee;
  --company-logo-color: #afb1b8;
  --grid__item: 1;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
